.pw-footer {
	background: $primary-color;
	margin-top: auto;

	display: flex;
	flex-direction: column;
	font-size: 0.8rem;

	.pw-copyright {
		display: flex;
		justify-content: space-between;
		padding: $padding;
		color: $white;
		background: $primary-darker-color;
	}

	.pw-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $padding * 3;
		padding-bottom: $padding * 6;
	}

	.pw-list {
		display: grid;
		grid-auto-flow: column;
		grid-gap: $gutter * 2;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.pw-separator {
		margin: 0 $margin;
	}
}
