#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.maincontent {
	flex-grow: 1;
	margin: $margin;
	padding: $padding;
	display: flex;
	flex-direction: column;

	@include from(laptop) {
		width: 80vw;
		margin: $margin auto;
	}
}
